.vagrant/
*.retry
manifest.zip
secret.yml
secret_files/
.*swp
inventory
.locallized
.DS_Store
.tmp
.cache
*.retry
tests/test_playbooks/vars/server.yml
__pycache__
*.pyc
*.pyo
*.swp
.pytest_cache/
.mypy_cache/
venv/
docs/modules/
docs/_build/
secret.txt
vault.yml
.vscode/
vault
